.jumbotron {
    background-color:white;
}

.form-control:focus{
    border-color: #cccccc;
    box-shadow: 0.5px 4px 10px grey;
    -webkit-transition:  box-shadow .2s ease-in;
}

.shadowy {
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .2s ease-out;
    box-shadow: .8px .9px 3px grey;
}

.shadowy:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .2s ease-in;
}

.disabled-card {
    background-color:#F5F5F5;
}