<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Writer Pad | Source Codes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" th:href="@{/css/editor.css}"/>

    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">

</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-sm bg-light justify-content-end">
    <a href="/source" class="navbar-brand d-flex mr-auto">Source Codes</a>
    <div class="col-md-2 text-right"><a href="#" class="btn btn-sm btn-outline-primary"><i data-feather="edit"></i></a></div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary" href="#">Signup</a>
        </li>
    </ul>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" id="title" name="title" class="form-control" placeholder="Page title">
            </div>
        </div>
    </div>
    <div class="shadowy">
        <!-- Create the editor container -->
        <div id="editor" class="ql-editor"></div>

    </div>
</div>

<nav class="navbar navbar-expand-sm bg-light fixed-bottom justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="btn btn-sm btn-outline-secondary">Preview</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
            <a href="#" class="btn btn-sm btn-outline-secondary">Save as draft</a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
            <a href="#" class="btn btn-sm btn-outline-primary">Publish</a>
        </li>
    </ul>
</nav>

</body>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']                                         // remove formatting button
];

var quill = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions
  },
  theme: 'snow',
  placeholder: 'Start writing here ...'
});

const editor = $('#editor');
var editor_content = quill.container.innerHTML;

quill.on('text-change', () => {
    console.log('get html => ', quill.getContents());
});


feather.replace();
</script>

</html>